@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&amp;display=swap");
html {
  font-family: Roboto;
}

body {
  margin: 0;
}

header {
  justify-content: center;
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
}

.btn__retour {
  font-size: 1.2rem;
  position: absolute;
  left: 40px;
  top: 40px;
  color: black;
}

.icon_maps {
  background-color: #ececeb;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon_maps p {
  padding-left: 20px;
  margin: 0;
  font-size: 1.5rem;
}

.reservez {
  height: 400px;
  width: 100%;
  background-color: #F7F6F6;
}

#reserv_1 {
  margin-top: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  margin-left: 50px;
  text-align: center;
}

#reserv_2 {
  margin: 0 20px;
  font-weight: normal;
  font-size: 1.3rem;
  text-align: center;
}

.reservez .reserv_btn {
  width: 50%;
  height: 50px;
  display: flex;
  margin-top: 4%;
  margin-left: 25%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  box-shadow: 0px 10px 20px #aaa8a8;
}
.reservez .reserv_btn:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 5px 10px 20px #929191;
}

.fonction {
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}

/*//////////controle coeur debut \\\\\\\\\\\*/
.coeurpilote:hover .fas.fa-heart {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.coeurpilote:hover .far.fa-heart {
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.fas.fa-heart {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  bottom: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.far.fa-heart {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  bottom: 25px;
  opacity: 1;
  /*//////////controle coeur \\\\\\\\\\\fin*/
}

.fonction__liste ol {
  height: 282px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
}
.fonction__liste ol li {
  text-decoration: none;
  color: #A9A9A9;
  font-size: 1.2rem;
  background-color: #f6f6f6;
  width: 90%;
  height: 70px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  box-shadow: 0px 10px 20px #ececeb;
}
.fonction__liste ol li p {
  color: black;
  padding-left: 8%;
}
.fonction__liste ol li span {
  background-color: #9356DC;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -10px;
}
.fonction__liste ol li:hover {
  cursor: pointer;
  background-color: #f5edff;
}
.fonction__liste ol li:hover i {
  color: #9356DC;
}

h3 {
  margin-left: 20px;
}

h2 {
  margin-left: 20px;
}

h6 {
  width: 50px;
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 3px solid #99E2D0;
}

figure {
  margin: 0;
}

.restaurants {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #F7F6F6;
}
.restaurants .restaurants__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurants .restaurants__box .restaurants__box__cart {
  height: 270px;
  width: 90%;
  margin-bottom: 25px;
  background-color: white;
  border-radius: 25px;
  text-decoration: none;
  color: black;
  box-shadow: 0px 10px 20px #ececeb;
}
.restaurants .restaurants__box .restaurants__box__cart img {
  border-radius: 25px 25px 0 0;
  width: 100%;
  height: 200px;
}
.restaurants .restaurants__box .restaurants__box__cart figcaption {
  height: 75px;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 88% 12%;
  align-items: center;
  padding-left: 20px;
  position: relative;
}
.restaurants .restaurants__box .restaurants__box__cart figcaption samp {
  position: absolute;
  width: 27%;
  height: 45%;
  background-color: #99E2D0;
  color: #278870;
  right: 10px;
  bottom: 230px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurants .restaurants__box .restaurants__box__cart figcaption h4 {
  grid-column: 1/1;
  grid-row: 1/1;
}
.restaurants .restaurants__box .restaurants__box__cart figcaption p {
  grid-column: 1/1;
  grid-row: 2/2;
  margin-top: -5px;
}

footer {
  background-color: #3a3a3a;
  padding-left: 2rem;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}
footer h5 {
  color: #F7F6F6;
  font-family: "Shrikhand";
  font-size: 1.2rem;
  font-weight: lighter;
  margin-bottom: 0;
}
footer ul {
  padding: 0;
}
footer ul li {
  list-style: none;
  padding-bottom: 6px;
}
footer ul li a,
footer ul li i {
  margin-right: 20px;
  text-decoration: none;
  color: #F7F6F6;
}

.btn__menu {
  height: 100px;
  margin-top: 50px;
}
.btn__menu .menu__btn {
  width: 35%;
  height: 50px;
  display: flex;
  margin-top: 4%;
  margin-left: 25%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  box-shadow: 0px 10px 20px #aaa8a8;
}
.btn__menu .menu__btn:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 5px 10px 20px #929191;
}

/*////////page2\\\\\\*/
.img__bg {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.fond__pilote {
  position: relative;
  background-color: #ececeb;
  border-radius: 45px 45px 0px 0px;
  margin-top: -50px;
  padding-bottom: 10px;
}
.fond__pilote .pilote {
  margin: 0px 20px;
}

.titre__h1 {
  font-family: "Shrikhand";
  font-size: 1.75rem;
  margin: 0;
  padding-top: 20px;
}

.titre__h2 {
  width: 60px;
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 5px;
  color: #3a3a3a;
  font-weight: 400;
}

.titre__h3 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titre__h4 {
  width: 300px;
  height: 0px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 1.2rem;
}

.menu__ingrédients {
  grid-column: 1/1;
  font-size: 1rem;
  padding-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu__prix {
  padding-left: 20px;
  font-weight: bold;
}

.menu__font {
  background-color: white;
  height: 80px;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  margin: 0 15px 15px 0;
}
.menu__font .menu__plat {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 80% 20% 0%;
  grid-template-rows: 50% 40%;
  align-items: center;
  position: relative;
}

.fond__pilote :nth-child(1) {
  animation: pilot 0.4s ease-in-out;
}
.fond__pilote :nth-child(2) {
  animation: pilot 0.8s ease-in-out;
}
.fond__pilote :nth-child(3) {
  animation: pilot 1.2s ease-in-out;
}
.fond__pilote :nth-child(4) {
  animation: pilot 1.6s ease-in-out;
}
@keyframes pilot {
  from {
    transform: translateY(70px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 0;
  }
}

/*//////////controle coeur debut \\\\\\\\\\\*/
.pilote .coeurpilote:hover .fas.fa-heart {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.pilote .coeurpilote:hover .far.fa-heart {
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.pilote .fas.fa-heart {
  font-size: 1.5rem;
  position: absolute;
  right: 50px;
  top: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.pilote .far.fa-heart {
  font-size: 1.5rem;
  position: absolute;
  right: 50px;
  top: 30px;
  opacity: 1;
}

/*/////////*********animation**********\\\\\\\\\\\*/
.menu__animat {
  position: absolute;
  background-color: #99E2D0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 65px;
  transform-origin: right 50%;
  border-radius: 0px 20px 20px 0px;
  transform: translateX(65px);
  overflow: hidden;
  transition-duration: 0.5s;
}
.menu__animat .menu__i {
  left: 20px;
  top: 25px;
  font-size: 1.5rem;
  color: white;
  opacity: 1;
  position: absolute;
}

.menu__font:hover .menu__animat {
  transform: translateX(0px);
  transition: 0.5s ease-in-out;
}
.menu__font:hover .menu__animat .menu__i {
  transform: rotate(360deg);
  transition: 0.5s ease-in-out;
}

.menu__font:hover .menu__plat {
  grid-template-columns: 60% 0% 10%;
}

/*/////////*********animation**********\\\\\\\\\\\

/*/
/* media querisen tete */
@media all and (max-width: 961px) {
  #reserv_1 {
    font-size: 2.1rem;
  }

  #reserv_2 {
    font-size: 1.2rem;
  }
}
/*fin media querisen tete */
@media screen and (min-width: 961px) {
  .fonction__liste ol {
    flex-direction: row;
    height: 60px;
  }

  .fonction .fonction__liste ol li {
    width: 300px;
  }

  .restaurants .restaurants__box {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .restaurants .restaurants__box .restaurants__box__cart {
    width: 20%;
  }

  ul {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
  }

  footer {
    text-align: center;
  }

  footer h5 {
    color: #9356DC;
  }
}
/* “loading spinner debut */
.loading {
  display: flex;
  position: fixed;
  left: 50%;
  top: 50%;
}

.loading::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 10px solid #9356DC;
  border-top-color: #99E2D0;
  border-radius: 50%;
  background-color: #FF79DA;
  animation: loading 3s ease;
  animation-fill-mode: both;
}

@keyframes loading {
  100% {
    opacity: 0;
    transform: rotate(4turn);
    /*opacity: 1;*/
  }
}
.wait {
  opacity: 1;
  animation: wait 3s ease;
}

@keyframes wait {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
/* “loading spinner fin */

/*# sourceMappingURL=style.css.map */
