
@import url('https://fonts.googleapis.com/css2? family= Shrikhand & display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&amp;display=swap");
@import"variable.scss";

header{
    justify-content: center;
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
}
.icon_maps {
    background-color: $grip;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        padding-left: 20px;
        margin: 0;
        font-family: Roboto;
        font-size: 1.5rem;
    }
}
body{
    background-color:#F3F0ED;
}
#reserv_1 {

    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 450px;
  }
  #reserv_2 {
margin: 0 20px;
font-weight: normal;
font-size: 1.3rem;
text-align: center;
line-height: 0%;
  }
  .reservez .reserv_btn {
    width: 50%;
    height: 50px;
    display: flex;
    margin-top: 4%;
    margin-left: 40%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 25px;
    background: linear-gradient($Second, $Prim);
    color: white;
    box-shadow: 0px 10px 20px #aaa8a8;
    width: 20%;
  }
  .reservez .reserv_btn:hover {
    background: linear-gradient($second--, $Prim--);
    box-shadow: 5px 10px 20px #929191;
    }